<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.korean_food">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Korean_food">
        <activity android:name=".TertiaryActivity_health_EPADHA"></activity>
        <activity android:name=".TertiaryActivity_health_richfibre" />
        <activity android:name=".TertiaryActivity_health_richvitamin" />
        <activity android:name=".TertiaryActivity_health_lowsugarandsalt" />
        <activity android:name=".TertiaryActivity_health_highprotein" />
        <activity android:name=".TertiaryActivity_health_weightloss" />
        <activity android:name=".Fooddescription_vegan" />
        <activity android:name=".Fooddescription_soup" />
        <activity android:name=".Fooddescription_snack" />
        <activity android:name=".Fooddescription_sidedish" />
        <activity android:name=".Fooddescription_maindish" />
        <activity android:name=".Fooddescription_beverage" />
        <activity android:name=".TertiaryActivity_ingredients_others" />
        <activity android:name=".TertiaryActivity_ingredients_fruits" />
        <activity android:name=".TertiaryActivity_ingredients_vegetables" />
        <activity android:name=".TertiaryActivity_ingredients_fish" />
        <activity android:name=".TertiaryActivity_ingredients_pork" />
        <activity android:name=".TertiaryActivity_ingredients_beef" />
        <activity android:name=".TertiaryActivity_ingredients_grains" />
        <activity android:name=".SecondaryActivity_health" />
        <activity android:name=".TertiaryActivity_ingredients_rice" />
        <activity android:name=".SecondaryActivity_ingredients" />
        <activity android:name=".Fooddescription" />
        <activity android:name=".SearchActivity" />
        <activity
            android:name=".test"
            android:label="@string/title_activity_test" />
        <activity android:name=".SecondaryActivity_settings" />
        <activity android:name=".SecondaryActivity_vegan" />
        <activity android:name=".SecondaryActivity_beverage" />
        <activity android:name=".SecondaryActivity_snack" />
        <activity android:name=".SecondaryActivity_soup" />
        <activity android:name=".SecondaryActivity_sidedish" />
        <activity android:name=".SecondaryActivity_maindish" />
        <activity android:name=".SecondaryActivity_basedish" />
        <activity android:name=".PrimaryActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>